*.DS_Store
Lectures/.ipynb_checkpoints/Lecture01_Intro-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture02_Transport-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture03_KenyonTurcott-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture06_StratigraphicSequences-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lecture20_Maldives-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures01_Intro-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures02_Transport-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures03_KenyonTurcott-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures04-6_NumericalTransport-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures07-9_StratigraphicSequences-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures10-13_StratigraphicTime-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures13_HinGold_disc-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures14-15_Cycles-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures15_HinGold_disc-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures16-17_AgeModels-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures18-19_Carbonates-checkpoint.ipynb
Lectures/.ipynb_checkpoints/Lectures20_Maldives-checkpoint.ipynb
